
/* additional styles for the Bootstrap lab */
/* note that we do not need to import reset.css here because Bootstrap already resets
the browser default styles before applying their own */



body{
 	background-image: url(../img/1200px/seamlesstexture20_1200.jpg);
    /*background-repeat: repeat;*/
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 18px;
/*    padding: 17px;
*//*    background-size: 700px 700px, 1400px 3000px;
*/   background-position:left top;
    background-repeat: repeat;
}
.navbar{
	/*background-image: url(../img/1200px/seamlesstexture20_1200.jpg);*/
	background-color: #EEE;
	position: fixed;
	width: 84.6%;
}

.cartItem{
  right:0px;
  position: fixed;
  top:160px;
  left :950px;
}

.crop {
    width: 250px;
    height: 80px;
    /*overflow: hidden;*/
    border-radius: 75px;
    /*box-shadow:  2px 2px 6px #555;*/
}

@media screen and (max-width: 767px) {
   .carousel{
   	display:none;
   }
   .navbar{
   	position: relative;
   }
    .cartItem{
  position: static;
  }
}

/*@media screen and (min-height: 1609px) {
  .cartItem{
  position: static;
  }
}*/

@media screen and (max-width: 1111px) {
    .cartItem{
  right: 20px;
  }
}


@media screen and (max-width: 1265px) {
    .cartItem{
  left: 750px;
  }
}

@media screen and (max-width: 949px) {
    .cartItem{
  left: 500px;
  }
}

.pull-left {
    float: left;
    margin-right: 20px;
}

.pull-right {
    float: right;
     margin-right: 10px
}

.footer{
	position: center;
	text-align: center;
	background-color: #EEE;
}


.template {
    display: none;
}

.menu-ui {
    margin-bottom: 1em;
    font-size: 24px;
}

.menu_list {
    clear: both;
    background-color: #EEE;
    border: 1px dotted #DDD;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 2em;
}

.menu_list .name {
    margin-top: 0;
}

.menu_list .description {
    margin-bottom: 0;
}

.menu .prices {
    padding-left: 120px;
}

.menu-btn-group{
    margin-right: 20px;
}

.item_btn{
  
  background-color: #EEE;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border: 1px solid #EEE;
  padding: 1px;

}

.cart-container{
 max-width: 450px;
 right: 0px;

}